# Assignment 20 Solutions

**SUBMITTED BY: HITESH**

#### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [27]:
test1 ='This is a test of the emergency text system'
with open('test.txt','w') as f:
    f.write(test1)

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [28]:
with open('test.txt','r') as f:
    test2 = f.read()
    
print(test2)

print("\n\ntest1 and test2 is same :", test1==test2)

This is a test of the emergency text system


test1 and test2 is same : True

#### 3. Create a CSV file called books.csv by using these lines:
`title,author,year`  
`The Weirdstone of Brisingamen,Alan Garner,1960`  
`Perdido Street Station,China Miéville,2000`  
`Thud!,Terry Pratchett,2005`  
`The Spellman Files,Lisa Lutz,2007`  
`Small Gods,Terry Pratchett,1992`

In [29]:
text_file="""title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992"""

with open('books.csv',mode='w',encoding='UTF-8') as f:
    f.write(text_file)

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [30]:
import sqlite3
con = sqlite3.connect("books.db")  # connection has been created
print("Connection Established !! ")
try:
    cur =con.cursor()
    
    query=""" CREATE TABLE books(
    name text, author text, year integer
    )
    """  # Table create
    cur.execute(query)
    con.commit()
    con.close()


except Exception as e:
    print(e)

Connection Established !!
table books already exists

#### 5. Read books.csv and insert its data into the books table.

In [31]:
import csv
import sqlite3
con = sqlite3.connect("books.db")  # connection has been created
print("Connection Established !! ")
try:
    with open('books.csv', 'rt') as f:
        books = csv.DictReader(f)
        
        for book in books:
            query = f"INSERT INTO books VALUES ('{book['title']}','{book['author']}',{book['year']})"
            cur = con.cursor()
            cur.execute(query)
            con.commit()    
    con.close()
    print("Sucessfully insert ")
except Exception as e:
    print(e)

Connection Established !!
Sucessfully insert

#### 6. Select and print the title column from the books table in alphabetical order.

In [32]:
con = sqlite3.connect("books.db")  # connection has been created
print("Connection Established !! ")
try:
    query = 'SELECT name FROM books order by name asc;'
    cur = con.cursor()
    cur.execute(query)
    for i in cur.fetchall():
        print(i[0])
    
                
    con.close()
    
except Exception as e:
    print(e)

Connection Established !!
Perdido Street Station
Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
Small Gods
The Spellman Files
The Spellman Files
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
Thud!
Thud!

#### 7. From the books table, select and print all columns in the order of publication.

In [33]:
con = sqlite3.connect("books.db")  # connection has been created
print("Connection Established !! ")
try:
    query = 'SELECT * FROM books order by year ;'
    cur = con.cursor()
    cur.execute(query)
    for i in cur.fetchall():
        print(*i,sep=' , ')
                
    con.close()
    
except Exception as e:
    print(e)

Connection Established !!
The Weirdstone of Brisingamen , Alan Garner , 1960
The Weirdstone of Brisingamen , Alan Garner , 1960
The Weirdstone of Brisingamen , Alan Garner , 1960
Small Gods , Terry Pratchett , 1992
Small Gods , Terry Pratchett , 1992
Small Gods , Terry Pratchett , 1992
Perdido Street Station , China Miéville , 2000
Perdido Street Station , China Miéville , 2000
Perdido Street Station , China Miéville , 2000
Thud! , Terry Pratchett , 2005
Thud! , Terry Pratchett , 2005
Thud! , Terry Pratchett , 2005
The Spellman Files , Lisa Lutz , 2007
The Spellman Files , Lisa Lutz , 2007
The Spellman Files , Lisa Lutz , 2007

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [34]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
query = 'select name from books order by name asc' 
for row in conn.execute(query):
    print(row[0])

Perdido Street Station
Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
Small Gods
The Spellman Files
The Spellman Files
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
Thud!
Thud!

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [35]:
!pip3 install redis

Requirement already satisfied: redis in /opt/anaconda3/lib/python3.8/site-packages (4.5.5)
Requirement already satisfied: async-timeout>=4.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from redis) (4.0.2)

import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

#### 10. Increment the count field of test and print it.

conn.hincrby('test', 'count', 3)
conn.hget('test', 'count')